


$karlaFont: "Karla", sans-serif;
$dmfont: "DM Serif Display", serif;


@mixin flexcolumn {
    display: flex !important;
    flex-direction: column !important;
}

@mixin flexrow {
    display: flex !important;
    flex-direction: row !important;
}

@mixin button-gen {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


.display-none {
    display: none;
}


body {
    background-color: #FFF;
}




main {

    
    .navigation {

        padding: 24px;
        box-sizing: border-box;

        @include flexrow();
        justify-content: space-between;
        align-items: center;

        .navigation--ul {
            background-color: #2C2830;
            position: fixed;
            width: 100%;
            height: calc(100vh - 80px);
            left: 0;
            top: 80px;
            
            @include flexcolumn();
            align-items: center;
            gap: 24px;
            padding: 40px 24px;
            box-sizing: border-box;      
            
            background-image: url(./images/bg-pattern-mobile-nav.svg);
            background-size: 100% 200px;
            background-repeat: no-repeat;
            background-position-y: 100%;

            transform: translateX(100%);
            transition: all 0.4s;


            li {
                &:last-child {
                    width: 100%;
                    height: 56px;
                    @include flexrow();
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #fff;
                }
            }

            a {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                font-family: $karlaFont;
            }
        }


        .close-open {
            button {
                @include button-gen();
                cursor: pointer;
            }
        }

    }

    .title {
        width: 100%;
        text-align: center;
        background-color: #2D2641;
        padding: 493px 24px 93px 24px;
        box-sizing: border-box;
        color: #fff;

        position: relative;

        .family-img {
            width: 100%;
            height: 465px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            background-image: url(./images/image-intro-mobile.jpg);
            background-size: cover;
            background-position: left;
            z-index: 1;
        }

        .title-background--1 {
            position: absolute;
            left: 0;
            bottom: 29.5%;
            z-index: 0;
        }

        .title-background--2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;
            transform: translateY(60%);
        }

        h1 {
            font-size: 46px;
            font-weight: 400;
            font-family: $dmfont;
            margin-bottom: 16px;

        }

        p {
            position: relative;
            z-index: 3;
            font-size: 16px;
            font-weight: 400;
            font-family: $karlaFont;
            line-height: 26px;
            margin-bottom: 32px;
        }
        
        button {
            width: 146px;
            height: 40px;
            @include button-gen();
            border: 1px solid #fff;
            box-sizing: border-box;

            color: #fff;
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 1.5px;
        }
    }






}